test/artificial_samples/build/*.out filter=lfs diff=lfs merge=lfs -text
test/lkm_samples/build/*.ko filter=lfs diff=lfs merge=lfs -text
test/bare_metal_samples/*.bin filter=lfs diff=lfs merge=lfs -text
